body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  font-size: 16px;
  font-weight: 500;
}

.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.header nav ul {
  display: flex;
}

.header ul li {
  margin-left: 35px;
}

.header nav a {
  text-decoration: none;
  color: #000;
}

.header .icons {
  display: flex;
}

.header .icons li {
  margin-left: 20px;
}

.banner {
  background-image: url(./assets/img/banner-background.png);
  background-size: cover;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}
