body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  background: white;
  font-family: "Poppins", sans-serif;
  color: #b88e2f;
  font-weight: 600;
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  margin-bottom: 5px;
}

.header {
  font-weight: 500;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 20;
}

.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.header nav ul {
  display: flex;
}

.header ul li {
  margin-left: 35px;
}

.header nav a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.header nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.2s ease-in-out;
}

.header nav a:hover:before,
.header nav a.active:before {
  width: 100%;
}

.header .icons {
  display: flex;
}

.header .icons li {
  margin-left: 20px;
}

.banner {
  background-image: url(./assets/img/banner-background.png);
  background-size: cover;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 48px;
  font-weight: 500;
}

.section-filter {
  background: #f9f1e7;
  padding: 30px;
}

.section-filter .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-filter .section-right label {
  margin-right: 20px;
}

.section-filter .section-right select {
  background: #fff;
  border: none;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.section-filter .section-right select:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.section-filter .section-right select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.section-filter .section-right option {
  font-family: "Poppins", sans-serif;
}

.section-products {
  padding: 70px 0;
}

.section-products .section-content {
  display: flex;
}

.section-products .section-left {
  width: 200px;
  background: #f9f1e7;
  margin-right: 50px;
  padding: 20px;
  max-height: 460px;
}

.section-products .section-left h3 {
  display: flex;
  text-decoration: none;
  color: #000;
}

.section-products .section-left img {
  margin-right: 10px;
}

.section-products .color-filters {
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-products .color-filters p {
  font-weight: 600;
}

.section-products .color-filters a {
  text-decoration: none;
  color: #000;
}

.section-products .color-filters label {
  cursor: pointer;
}

.section-products .color-filters input[type="checkbox"] {
  accent-color: black;
}

.section-products .price-filters p {
  font-weight: 600;
}

.section-products .price-filters span {
  display: block;
}

.slider-input {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.slider-input::-webkit-slider-runnable-track {
  height: 4px;
  background: #b88e2f;
  border-radius: 10px;
  border: 0px solid #cbd5e1;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #b88e2f;
  border-radius: 30px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: -12px;
}

.slider-input::-moz-range-track {
  height: 4px;
  background: #b88e2f;
  border-radius: 10px;
  border: 0px solid #cbd5e1;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.slider-input::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #b88e2f;
  border-radius: 30px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section-products .section-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  position: relative;
  max-width: 285px;
  background: #f4f5f7;
  color: #3a3a3a;
  margin: 0 10px 50px;
  display: flex;
  flex-direction: column;
}

.product-card h2,
.product-card span {
  font-weight: 600;
}

.product-card .product-image {
  width: 285px;
  height: 300px;
  overflow: hidden;
}

.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .product-description {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-card .product-description div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-card p {
  color: #898989;
  margin: 10px 0;
}

.product-card:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s ease-in-out;
}

.product-card:hover:before {
  background: rgba(0, 0, 0, 0.5);
}

.product-card button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.product-card:hover button {
  opacity: 1;
}

.product-card button:hover {
  color: #fff;
  background: #b88e2f;
}

.section-products .load-more {
  font-size: 20px;
  border: 2px solid #b88e2f;
  transition: 0.2s ease-in-out;
}

.section-products .load-more:hover {
  background: #b88e2f;
  color: #fff;
}

.section-products .section-bottom {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #faf3ea;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-top .footer-address h2 {
  margin-bottom: 30px;
}

.footer-top .footer-links p,
.footer-top .footer-newsletter p {
  margin-bottom: 30px;
  font-weight: 600;
}

.footer-top .footer-links li {
  margin-bottom: 15px;
}

.footer-top .footer-links a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.footer-top .footer-links a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.2s ease-in-out;
}

.footer-top .footer-links a:hover:before {
  width: 100%;
}

.footer-top .footer-newsletter input {
  border: none;
  border-bottom: 1px solid #000;
  background: #faf3ea;
}

.footer-top .footer-newsletter input::placeholder {
  font-family: "Poppins", sans-serif;
}

.footer-top .footer-newsletter input[type="email"] {
  min-width: 200px;
}

.footer-top .footer-newsletter input[type="email"]:focus {
  outline: none;
}

.footer-top .footer-newsletter input[type="submit"] {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.footer-top .footer-newsletter input[type="submit"]:hover {
  color: #b88e2f;
  border-bottom: 1px solid #b88e2f;
}

.footer-bottom {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
}

#custom-alert {
  position: fixed;
  top: 100px;
  right: 20px;
  background: #b88e2f;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  transform: translate(0, -20px);
  transition: all 0.3s ease;
  z-index: 100;
  text-align: center;
}

#custom-alert.show {
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 1024px) {
  .section-products {
    padding: 40px 0;
  }

  .section-products .section-bottom {
    padding-top: 0px;
  }

  .footer-top {
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .footer-top > div {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .banner h1 {
    font-size: 40px;
  }

  .section-filter {
    padding: 14px 0;
  }

  .nav {
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .nav.active {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
  }

  .header .header-inner {
    padding: 25px 0;
  }

  .header .nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: flex;
    margin-left: auto;
  }

  .menu-toggle span {
    transition: 0.2s ease-in-out;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    translate: 0 8px;
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    translate: 0 -8px;
  }

  .header .icons {
    display: none;
  }

  .section-products .section-left {
    margin-right: 10px;
    max-height: 386px;
  }

  .section-products .load-more {
    padding: 5px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .banner h1 {
    font-size: 30px;
  }

  .section-filter .section-inner {
    flex-direction: column;
  }

  .section-filter .section-left {
    margin-bottom: 15px;
  }

  .section-products {
    padding: 20px 0;
  }

  .section-products .section-content {
    flex-direction: column;
    align-items: center;
  }

  .section-products .section-left {
    margin: 0 0 20px;
  }

  .section-products .section-right {
    justify-content: center;
  }

  .section-products .load-more {
    font-size: 16px;
  }

  .product-card {
    margin: 0 0 20px;
  }

  #custom-alert {
    right: 50%;
    width: 80%;
    transform: translate(50%, -20px);
  }

  #custom-alert.show {
    transform: translate(50%, 0);
  }

  .footer-top .footer-address {
    margin-bottom: 25px;
  }

  .footer-top .footer-address h2 {
    margin-bottom: 10px;
  }

  .footer-top .footer-links p {
    margin-bottom: 13px;
  }

  .footer-top .footer-newsletter {
    margin-top: 30px;
  }

  .footer-top .footer-newsletter p {
    margin-bottom: 13px;
  }

  .footer-top .footer-newsletter input[type="email"] {
    min-width: 170px;
  }
}
